*{
    padding: 0px;
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;   
    box-sizing: border-box;  
    font-family: 'Domine', serif;
    font-family: 'Merriweather', serif;
}

#container-1{
    background: black;
    color: white;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    }
    
#container-1 .text{
         padding-bottom: 60px;
         font-size: 20px;
         
}

#container-1 .text span{
          color: #ff0073;
          font-size: 33px;
}
.container-2{
    background: black;
    width: min(100%,250px);
    height: min(100% ,350px);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 10px 10px 70px red;    
}

.container-2 h2{
    padding-bottom:20px ;
    font-size: 30px;
    color: #ff0073;
    font-family: 'Merriweather', serif;
}

.container-2 input{
    padding: 5px;
    margin: 8px;
    border-radius: 20px;
    text-align: center;
    width: min(100%, 188px);
    height: min(100%, 22px);
    background: black;
    color: white;
    background: transparent;
}

.container-2 a{
    text-decoration: none;
    font-size: 12px;
    color: white;
    padding: 10px;
}

.container-2 input placeholder{
    border: transparent;
}

button{
    height: 40px;
    width: 95px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    background: black;
    color: white;
    box-shadow:10px 10px 70px red;
    cursor: pointer;
    
}

button:hover{
    color: white;
    background: #4d4d4d;
}

#navbar{
    height: 50px;
    width: 100%;
    background: #000000de;
    overflow: hidden;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Merriweather', serif;
}
#navbar ul {
    display: flex;
    list-style: none;
    padding-top: 3px;
    
}

#navbar ul li{
   margin: 5px;
   
}

#navbar ul a{
    text-decoration: none;
    color: #ff0073;
    border: 2px solid black;
    padding: 2px;
    border-radius: 10px;
    background: black;
    box-shadow:5px 5px 10px red;
}

#navbar h2{
    color: white;
    font-size: 21px;
    font-weight: bold;
    margin: 5px;
 }
.contact
